<section class="container special-offer">
  <div class="special-offer__content">
    <h2 class="special-offer__content_title">Специальные предложения</h2>

    <div class="special-offer__content__cards">
      <ng-container *ngFor="let card of cards; let i = index">
        <div class="special-offer__content__cards__item">
          <img
            class="special-offer__content__cards__item_img"
            [src]="card.image"
            alt=""
          />
          <div class="special-offer__content__cards__item__info">
            <h2
              [class]="'special-offer__content__cards__item__info_title'"
              [style.color]="card.color"
            >
              {{ card.title }}
            </h2>
            <p
              [class]="'special-offer__content__cards__item__info_text'"
              [style.color]="card.color"
            >
              {{ card.text }}
            </p>
            <button class="special-offer__content__cards__item__info_btn">
              Подробнее
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
