<section class="container calculator">
  <div class="calculator__content">
    <h2 class="calculator__content_title">Калькулятор страхования</h2>
    <div class="calculator__content__menu">
      <button class="calculator__content__menu_btn">
        Страхование туристов
      </button>
      <button class="calculator__content__menu_btn">ОСГОП</button>
      <button class="calculator__content__menu_btn">ОСГОВТС</button>
      <button class="calculator__content__menu_btn">ОСГОР</button>
    </div>
    <div class="calculator__content__inputs">
      <div class="calculator__content__inputs__left">
        <div class="calculator__content__inputs__left__input">
          <label class="calculator__content__inputs__left__input_label"
            >Страна путешествия:</label
          >
          <input
            class="calculator__content__inputs__left__input_field"
            placeholder="Не заполнено"
          />
        </div>

        <div class="calculator__content__inputs__left__items">
          <div class="calculator__content__inputs__left__items__input">
            <label class="calculator__content__inputs__left__items__input_label">Начало путешествия:</label>
            <input
              class="calculator__content__inputs__left__items__input_field"
              placeholder="Не выбрано"/>
          </div>

          <div class="calculator__content__inputs__left__items__input">
            <label class="calculator__content__inputs__left__items__input_label">Конец путешествия:</label>
            <input
              class="calculator__content__inputs__left__items__input_field"
              placeholder="Не выбрано"
            />
          </div>

          <div class="calculator__content__inputs__left__items__input">
            <label class="calculator__content__inputs__left__items__input_label">Количество дней:</label>
            <input
              class="calculator__content__inputs__left__items__input_field"
              placeholder="15"
            />
          </div>
        </div>

        <button class="calculator__content__inputs__left_btn">
          Оформить страховку
        </button>
      </div>
      <div class="calculator__content__inputs__total">
          <p class="calculator__content__inputs__total_label">Стоимость:</p>
          <p class="calculator__content__inputs__total_sum">0,00 сум</p>
      </div>
    </div>
  </div>
</section>
