<main class="main-content-height" >
    <app-carousel [cards]="carouselCards$ | async"></app-carousel>
    <app-company-in-numbers [cards]="companyInNumsCards$ | async"></app-company-in-numbers>
    <app-products [cards]="productsCards$ | async"></app-products>
    <app-special-offer [cards]="specialOfferCards$ | async"></app-special-offer>
    <app-advantages [cards]="advantagesCards$ | async"></app-advantages>
    <app-news [cards]="newsCards$ | async"></app-news>
    <app-partners [cards]="partnersCards$ | async"></app-partners>
</main>
