<section class="container carousel">
  <div class="carousel__content" *ngFor="let card of cards">
    <img class="carousel__content_bg-img" [src]="card.image" [alt]="card.imageName" />

    <div class="carousel__content__rectangle">
      <div class="carousel__content__rectangle__card">
        <span class="carousel__content__rectangle__card_top-title">
          {{ card.topText | transloco }}
        </span>
        <h2 class="carousel__content__rectangle__card_title">
          {{ card.title | transloco}}
        </h2>
        <p class="carousel__content__rectangle__card_subtitle">
          {{ card.text | transloco }}
        </p>
        <button class="carousel__content__rectangle__card_btn">
          {{ card.btnText | transloco }}
        </button>
      </div>
    </div>

    <div class="carousel__content__dots">
    </div>
  </div>
</section>
