@import "mixins/@mixins";
@import "styles/@styles";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
  transition: all 0.15s ease-in-out;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  @include flex(column, center, flex-start);
  min-width: 100%;

  > :first-child {
    width: 1440px;
  }
}

.main-content-height {
  min-height: $main-content-height;
  padding: calc($offset-large-x - 1px) 0;
  box-sizing: border-box;
}
