@import "visual/visual";

:host {
  .error {
    @include flex(column, center, center);
    width: 100%;
    padding: $offset-large-xxxxx 0;
    &_image {
      margin-bottom: $offset-large-xxx;
    }
    &_underline {
      min-height: 2px;
      max-height: 2px;
      min-width: 100%;
      margin-bottom: $offset-large-xxxxx;
    }
    &__description {
      @include flex(row, center, center);
      min-width: 100%;
      &__text {
        @include flex(column, flex-start, space-between);
        min-height: 100%;
        &_title {
          color: black;
        }
        &_message {
          color: black;
        }
      }
    }
  }
}
