$c-responsive-5120-width: 5120px;
$c-responsive-3840-width: 3840px;
$c-responsive-3200-width: 3200px;
$c-responsive-2560-width: 2560px; //2560×1440 - 7,41%
$c-responsive-1920-width: 1920px; //1920×1080 – 22.97% | GENERAL!
$c-responsive-1792-width: 1792px; //1792×1120 - 2,06%
$c-responsive-1680-width: 1680px; //1680×1050 - 4,28%
$c-responsive-1600-width: 2560px; //1600×900 – 3.58%
$c-responsive-1536-width: 1536px; //1536×864 – 11.34%
$c-responsive-1440-width: 1440px; //1440×900 – 5.85%
$c-responsive-1366-width: 1366px; //1366×768 – 17.88%
$c-responsive-1280-width: 1280px; //1280×720 – 6.18%
