@import "mobile-dimensions";

$m-responsive-iphone-se-width: $m-responsive-374-width;
$m-responsive-iphone-xr-width: $m-responsive-414-width;
$m-responsive-iphone-12-pro-width: $m-responsive-390-width;
$m-responsive-pixel-5-width: $m-responsive-393-width;
$m-responsive-samsung-galaxy-s-8-plus-width: $m-responsive-360-width;
$m-responsive-samsung-galaxy-s-20-ultra-width: $m-responsive-412-width;
$m-responsive-surface-duo-width: $m-responsive-540-width;
$m-responsive-samsung-galaxy-fold-width: $m-responsive-280-width;
$m-responsive-samsung-galaxy-a51-71-width: $m-responsive-412-width;
