$m-responsive-546-width: 546px;
$m-responsive-540-width: 540px;
$m-responsive-446-width: 446px;
$m-responsive-414-width: 414px; //414×896 – 6.18%
$m-responsive-412-width: 412px; //412×915 – 4.82%
$m-responsive-393-width: 393px; //393×873 – 3.58%
$m-responsive-390-width: 390px; //390×844 – 5.24%
$m-responsive-374-width: 374px;
$m-responsive-360-width: 360px; //360×800 – 9.15% / 360×640 – 5.49% / 360×780 – 4.2% | GENERAL!
$m-responsive-323-width: 323px;
$m-responsive-280-width: 280px;
