@import "tablet-dimensions";

$t-responsive-ipad-air-width: $t-responsive-601-width;
$t-responsive-ipad-mini-width: $t-responsive-768-width;
$t-responsive-surface-pro-7-width: $t-responsive-912-width;
$t-responsive-nest-hub-width: $t-responsive-1280-width;
$t-responsive-nest-hub-max-width: $t-responsive-1280-width;
$ipad-pro-max-device-width: $t-responsive-1112-width;
$ipad-pro-min-device-width: $t-responsive-834-width;
$ipad-max-device-width: $t-responsive-1024-width;
$ipad-min-device-width: $t-responsive-768-width;
