$t-responsive-1280-width: 1280px; //1280×800 — 6,88%
$t-responsive-1112-width: 1112px;
$t-responsive-1024-width: 1024px;
$t-responsive-1005-width: 1005px;
$t-responsive-972-width: 972px;
$t-responsive-962-width: 962px; //962×601 — 3,24%
$t-responsive-912-width: 912px;
$t-responsive-860-width: 860px;
$t-responsive-834-width: 834px;
$t-responsive-810-width: 810px; //810×1080 — 6,63%
$t-responsive-800-width: 800px; //800×1280 — 6,31%
$t-responsive-782-width: 782px;
$t-responsive-768-width: 768px; //768×1024 — 32,74% | GENERAL!
$t-responsive-678-width: 678px;
$t-responsive-601-width: 601px; //601×962 — 5,02%
