// FROM LIGHT TO DARK (BLUE)
$color-brand-blue-100: #e3f4fc;
$color-brand-blue-200: #addff7;
$color-brand-blue-300: #91d3f2;
$color-brand-blue-400: #095980;
$color-brand-blue-500: #033953;
$color-brand-blue-600: #02344d;

// FROM LIGHT TO DARK (GREY).
$color-white: #ffffff; // rgba(255, 255, 255, 1)
$color-light-grey-100: #e3e5e5;
$color-light-grey-200: #adb1b2;
$color-light-grey-300: #919699;
$color-light-grey-400: #5c6366;
$color-light-grey-500: #4b4b4b;
$color-dark-grey: #333333;

// FROM LIGHT TO DARK (BROWN)
$color-light-brown-100: #fcf4e3;
$color-light-brown-200: #f7dfad;
$color-light-brown-300: #D2B37A;
$color-light-brown-400: #cca352;
$color-brown: #4d3402;

// OTHER
$color-blue-for-icon: #457693;
$color-green-for-text: #002c47;
$color-blue-for-footer-text: #85bad4;
$color-blue-for-active-menu: #3b5cce;
$color-blue-muted: #5b8ab6;
